.b-container {
  height: 50vh;
}
.b-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}
.b-col {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 100px;
  margin: 15px 0;
  border: 1px solid rgba(0, 0, 0, 0.254);
}
.b-col svg {
  font-size: 22px;
  color: rgb(215, 106, 113);
}
.b-col span {
  margin-left: 10px;
  font-size: 22px;
}
